<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="#" type="text/css">
    <title>SimpMyRide!</title>
    <script src="#"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>