<div class="container-fluid">
    <div class="row bg-dark">
        <div class="col-md-8 p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-2">
                <a class="navbar-brand ml-3" href="/">X-Files</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-success" href="/sightings">UFO Sightings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-md-4 text-right pt-2">
            <a class="text-white pr-0 mr-3" href="/"><span class="userName text-success"></span>
                <i class="fas fa-user-circle fa-2x text-white mt-1 ml-2 mb-2 text-success"></i></a>
        </div>
    </div>

</div>
<div class="container mt-4">
    <div class="row">
        <div  id="header" class="col-md-6 mx-auto">
            <h1 style="color:rgb(7, 185, 7); font-size:38px;">UFO Sightings <img src="/images/ufo-animated-gif.gif" alt="Alien"
                    style="width:70px; height:70px"></h1>
        </div>
    </div>

</div>
<aside>
    <form>
        <div class="form-group">
            <label for="exampleSelect1" style="color:rgb(7, 185, 7);font-size: 30px;">Decades of the sightings</label>
            <select class="form-control" id="exampleSelect1">
                <option>1950s</option>
                <option>1960s</option>
                <option>1970s</option>
                <option>1980s</option>
                <option>1990s</option>
                <option>2000s</option>
                <option>2010s</option>
            </select>
        </div>
    </form>
    <form>
        <div class="form-group">
            <label for="exampleSelect1" style="color:rgb(7, 185, 7); font-size: 32px;">States</label>
            <select class="form-control" id="exampleSelect1">
                <option>AL</option>
                <option>AK</option>
                <option>AZ</option>
                <option>AR</option>
                <option>CA</option>
                <option>CO</option>
                <option>CT</option>
                <option>DE</option>
                <option>FL</option>
                <option>GA</option>
                <option>HI</option>
                <option>ID</option>
                <option>IL</option>
                <option>IN</option>
                <option>IA</option>
                <option>KS</option>
                <option>KY</option>
                <option>LA</option>
                <option>ME</option>
                <option>MD</option>
                <option>MA</option>
                <option>MI</option>
                <option>MN</option>
                <option>MS</option>
                <option>MO</option>
                <option>MT</option>
                <option>NE</option>
                <option>NV</option>
                <option>NH</option>
                <option>NJ</option>
                <option>NM</option>
                <option>NY</option>
                <option>NC</option>
                <option>ND</option>
                <option>OH</option>
                <option>OK</option>
                <option>OR</option>
                <option>PA</option>
                <option>RI</option>
                <option>SC</option>
                <option>SD</option>
                <option>TN</option>
                <option>TX</option>
                <option>UT</option>
                <option>VT</option>
                <option>VA</option>
                <option>WA</option>
                <option>WV</option>
                <option>WI</option>
                <option>WY</option>
            </select>
        </div>
    </form>
</aside>
<div id="map"></div>
<img src="/images/ufo-flying-saucer-animated-gif-8.gif" alt="Alien1" id="alien1">

<style>
    body {
        background-color: black;

    }
    
    .container-fluid {
        padding: 0px;
    }
</style>