<div class="container-fluid">
    <div class="row bg-dark">
        <div class="col-md-8 p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-2">
                <a class="navbar-brand ml-3" href="/">X-Files</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-success" href="/sightings">UFO Sightings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-md-4 text-right pt-2">
            <a class="text-white pr-0 mr-3" href="/"><span class="userName text-success"></span>
                <i class="fas fa-user-circle fa-2x text-white mt-1 ml-2 mb-2 text-success"></i></a>
        </div>
    </div>

</div>
<div class="container mt-4">
    <div class="row">
        <div id="header" class="col-md-6 mx-auto">
            <h1 style="color:rgb(7, 185, 7); font-size:38px;">UFO Sightings <img src="/images/ufo-animated-gif.gif"
                    alt="Alien" style="width:70px; height:70px"></h1>
        </div>
    </div>

</div>
<aside>
    <form>
        <div class="form-group">
            <label for="exampleSelect1" style="color:rgb(7, 185, 7);font-size: 30px;">Decades of the sightings</label>
            <select class="form-control" id="exampleSelect1">
                <option>1950s</option>
                <option>1960s</option>
                <option>1970s</option>
                <option>1980s</option>
                <option>1990s</option>
                <option>2000s</option>
                <option>2010s</option>
            </select>
        </div>
    </form>
    <form>
        <div class="form-group">
            <label for="exampleSelect1" style="color:rgb(7, 185, 7); font-size: 32px;">States</label>
            <select class="form-control" id="exampleSelect2">
                <option data-lat= "32.318" data-lon ="-86.902">AL</option>
                <option data-lat= "34.799" data-lon ="-92.9199">AK</option>
                <option data-lat= "34.048" data-lon ="-111.093">AZ</option>
                <option data-lat= "34.048" data-lon ="-111.093">AR</option>
                <option data-lat= "36.778" data-lon ="-119.417">CA</option>
                <option data-lat= "39.113" data-lon ="-105.358">CO</option>
                <option data-lat= "41.599" data-lon ="-72.699">CT</option>
                <option data-lat= "39.000" data-lon ="75.500">DE</option>
                <option data-lat= "27.994" data-lon ="-81.760">FL</option>
                <option data-lat= "33.247" data-lon ="-83.441">GA</option>
                <option data-lat= "19.741" data-lon ="-155.844">HI</option>
                <option data-lat= "44.068" data-lon ="-114.742">ID</option>
                <option data-lat= "40.273" data-lon ="-89.000">IL</option>
                <option data-lat= "34.048" data-lon ="-86.126">IN</option>
                <option data-lat= "42.032" data-lon ="-93.581">IA</option>
                <option data-lat= "38.500" data-lon ="-98.000">KS</option>
                <option data-lat= "37.839" data-lon ="-84.270">KY</option>
                <option data-lat= "30.391" data-lon ="-92.329">LA</option>
                <option data-lat= "45.367" data-lon ="-68.972">ME</option>
                <option data-lat= "39.045" data-lon ="76.641">MD</option>
                <option data-lat= "42.407" data-lon ="-71.382">MA</option>
                <option data-lat= "44.182" data-lon ="-84.506">MI</option>
                <option data-lat= "46.392" data-lon ="-94.636">MN</option>
                <option data-lat= "33.000" data-lon ="-90.000">MS</option>
                <option data-lat= "38.573" data-lon ="-92.603">MO</option>
                <option data-lat= "46.965" data-lon ="-109.533">MT</option>
                <option data-lat= "41.500" data-lon ="-100.000">NE</option>
                <option data-lat= "39.876" data-lon ="-117.224">NV</option>
                <option data-lat= "44.000" data-lon ="-117.224">NH</option>
                <option data-lat= "39.833" data-lon ="-74.871">NJ</option>
                <option data-lat= "34.307" data-lon ="-106.0180">NM</option>
                <option data-lat= "43.000" data-lon ="-75.000">NY</option>
                <option data-lat= "35.782" data-lon ="-80.793">NC</option>
                <option data-lat= "47.650" data-lon ="-100.437">ND</option>
                <option data-lat= "40.367" data-lon ="-82.996">OH</option>
                <option data-lat= "36.084" data-lon ="-96.921">OK</option>
                <option data-lat= "44.000" data-lon ="-120.500">OR</option>
                <option data-lat= "41.203" data-lon ="-77.194">PA</option>
                <option data-lat= "41.700" data-lon ="-71.500">RI</option>
                <option data-lat= "33.836" data-lon ="-81.163">SC</option>
                <option data-lat= "44.500" data-lon ="-100.00">SD</option>
                <option data-lat= "35.860" data-lon ="-86.660">TN</option>
                <option data-lat= "31.000" data-lon ="-100.00">TX</option>
                <option data-lat= "39.419" data-lon ="-111.950">UT</option>
                <option data-lat= "44.000" data-lon ="-72.699">VT</option>
                <option data-lat= "37.926" data-lon ="-78.024">VA</option>
                <option data-lat= "47.751" data-lon ="-120.740">WA</option>
                <option data-lat= "39.000" data-lon ="-80.5000">WV</option>
                <option data-lat= "44.500" data-lon ="-89.500">WI</option>
                <option data-lat= "43.075" data-lon ="-107.290">WY</option>
            </select>
            <button type="button" id="searchBtn" class="btn btn-success">Search</button>
        </div>
        <img src="/images/ufo-flying-saucer-animated-gif-11.gif" alt="Alien1" id="alien1">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content green-text">
                    <div class="form-group" id="sighting">
                        <span class="card-title green-text"><b>Want to add your own experience?</b></span>
                        <input type="text" class="form-control" id="datetime" placeholder="mm/dd/yyyy"> Enter a date of your sighting:<br>
                        <input type="text" class="form-control" id="city">Enter a name of the city:<br>
                        <input type="text" class="form-control" id="state">Enter a state:<br>
                        <input type="text" class="form-control" id="shape"> What shape the object had?<br>
                        <input type="text" class="form-control" id="duration_hours_min">How long did you see it?
                        (minutes)<br>
                        <input type="text" class="form-control" id="comments">Please briefly describe your
                        sighting:<br>
                        <button type="submit" class="btn" id="add">CONFIRM </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</aside>
<div class="alienLoader" id="map"></div>

<style>
    body {
        background-color: black;

    }
    .alienLoader {
        background-image: url(https://media1.giphy.com/media/l46CbojXfTBIanqec/200w.webp?cid=ecf05e474z7t42607k6z528gkykc6psfqwh5ap9i7vt8i86c&rid=200w.webp);
    }

    .container-fluid {
        padding: 0px;
    }
</style>